
/* style.css */
body{
    background-color: #265e97;
    font-family: Arial, sans-serif;
    text-align: center;   
}
.container{
    background-color: #bababa;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 50px;
    border: 3px solid #1c365a;
    width: 400px;
    margin-top: 300px;
}
h2{
    color: #000000;
    margin-bottom: 20px;
}
label{
    font-weight: bold;
    color: #0004ff;
    margin-left: -100px;
}
input[type="text"], input[type="password"]{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background-color: #1c365a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


