/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    margin-top: 30px;
    border: solid 2px #000000;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 3px solid #000000;
    border-radius: 4px;
    background-color: #d1c8c8;
}
button {
    background-color: #2563eb;
    color: white;
    padding: 10px 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* margin-left: 130px; */
}

